<web-app>
<servlet>
	    <servlet-name>requestFactoryServlet</servlet-name>
	    <servlet-class>com.covoiturage.server.CovoiturageRequestFactoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>requestFactoryServlet</servlet-name>
	    <url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>

  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Covoiturage.html</welcome-file>
  </welcome-file-list>


  <servlet-mapping>
    <servlet-name>notifyService</servlet-name>
    <url-pattern>/covoiturage/notifyService</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>notifyService</servlet-name>
    <servlet-class>com.covoiturage.server.NotifyServiceImpl</servlet-class>
  </servlet>


 <servlet>
    <servlet-name>ImageService</servlet-name>
    <servlet-class>com.covoiturage.server.ImageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ImageService</servlet-name>
    <url-pattern>/imageService</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>userService</servlet-name>
    <url-pattern>/covoiturage/userService</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>userService</servlet-name>
    <servlet-class>com.covoiturage.server.UserServiceImpl</servlet-class>
  </servlet>
<listener>
    <listener-class>com.covoiturage.server.ContextInitializer</listener-class>
</listener>
</web-app>
