		.anchor{
			font: 120% normal;
			display:block;
			color: RGB(59,89,152);
			margin : 0% 5px 0em 0em;
		
		}
		.anchorcontainer{
			margin: 0% 43%;
		}
		.button {
			margin: 1em;
			background-color: RGB(59,89,152); 
			display:block;
			color: white;
			text-decoration : none;
		}
		.button:hover {
			margin: 1em;
			background-color: RGB(109,134,183); 
			display:block;
			text-decoration : none;
			color: white;
		}
		.button:visited {
			margin: 1em;
			background-color: RGB(109,134,183); 
			display:block;
			text-decoration : none;
			color: white;
		}
		.cartecontainer{
			padding: 2em 4em 2em 2em;
			border-bottom : solid RGB(109,134,183) 3px;
			border-right : solid RGB(109,134,183) 3px;
			/*border-left : solid RGB(109,134,183) 3px;*/
		
		}
		.horairecontainer{
			padding: 0em 0em 0em 2em;
		}
    	.label { 
    		background-color: white; 
    		color: black;
    		font: 112% Arial;
    		width: 5.5em;
    		margin: 0em 1em 1em 1em;
    		
    	}
    	.paddingdown{
    		padding: 0em 0em 1em 0em;
    	}
    	.panel { 
    		/*background-color: RGB(59,89,152); */
    		border-top : solid RGB(109,134,183) 3px;
    		border-right : solid RGB(109,134,183) 3px;
    		border-bottom : solid RGB(109,134,183) 3px;	
    		/*margin: 2em;*/
    		padding: 1.3em;
    	}
    	.panelfullborder{
    		border: solid RGB(109,134,183) 3px;
    		/*padding: 1.3em;*/
    	}
    	.centerpanel { 
    		border: solid RGB(109,134,183) 3px;
    		margin: 5% 40%;
    	}
    	.centerpanel2 { 
    		border: solid RGB(109,134,183) 3px;
    		margin: 10% 30%;
    	}
    	.grandpanel { 
    		border: 2px solid orange;	
    		margin: 1em;
    		/*padding: 1em;*/
    	}
    	.h1{
    		font: 200% Arial;
			color: white;
			text-align: center;
			margin: 0px 0% 0%;
			background-color: RGB(59,89,152);
    	}
    	.h2{
    		font: 150% Arial;
			color: white;
			text-align: center;
			margin : 0em 0em 1em 0em;
			background-color: RGB(59,89,152);
			border-bottom: solid RGB(109,134,183) 3px;
    	}
    	.h3{
    		font: 150% Arial;
			color: white;
			text-align: center;
			margin : 0em 0em 1em 0em;
			background-color: RGB(59,95,165);
			border-bottom: solid RGB(109,134,183) 3px;
    	}
    	.textbox{
    		margin : 0em 1em 0em 0em;
    	}
    	.datepicker{
    		margin : 0em 0em 1em 2em;
    	}
    	.radiobutton{
    		margin : 0em 0em 1em 1.5em;
    	}
    	.containerphtoto{
    		/*border: solid RGB(109,134,183) 3px;*/
    		margin: 10% 22%;
    		padding : 0em 1em
    	}
    	.photo{
    		width:175px;
    		height:175px;
    		margin :0em 1em 0em 1em
    	}
    	.menutitre{
    		background-color: RGB(59,89,152);
    		color: white;
    		border-bottom: solid RGB(109,134,183) 3px;
    		
    	}
    	.buttontitre {
    		font: 120% normal;
			background-color: RGB(59,89,152);
			display:block;
			color: white;
			margin : 0em 0em 0em 0em;
			padding: 0em 1em 0em 0em;
		}
		.buttontitre:hover {
			background-color: RGB(109,134,183);
			color: white;
		}
		.buttontitre:visited {
			background-color: RGB(109,134,183);
			color: white;
		}
		.h1titre{
			padding : 0px 50px 0px 50px 0px;
			/*margin : 0px 50px 0px 50px 0px;*/
    		font: 200% Arial;
			color: white;
			text-align: center;
			background-color: RGB(59,89,152);
    	}
    	.menucote{
    		background-color: RGB(59,95,165);
    		color: white;
    		/*border-right: solid RGB(109,134,183) 3px;*/
    		/*border-bottom: solid RGB(109,134,183) 3px;*/
    	}
    	.buttonmenu {
    		font: 110% normal;
			background-color: RGB(59,95,165);
			display:block;
			color: white;
			margin : 0em 0em 0em 0em;
			padding: 0em 1em 0em 0em;
		}
		.buttonmenu:hover {
			background-color: RGB(109,134,183);
			color: white;
			cursor : pointer;
		}
		.buttonmenu:visited {
			background-color: RGB(109,134,183);
			color: white;
		}